*{
    margin: 10px;
    padding: 1px;
    box-sizing: border-box;
}

/*Generic*/

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{
    color: rgb(255, 0, 157);
    font-family: 'Fredoka One', cursive;
}

h3{
    color: white;
    position: relative;
    right: 15px;
    text-align: left;
    
}

p{
    color: white;
}

/*Utils*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px;
}

.column{
    
}

.box{
    height: 90px;
    width: 300px;
    padding: px;
    background-color: black;
    
}

.float-left{
    float: left;
    position: relative;
    left: 10%;
}

.float-center{
    float:left;
    position: relative;
    left: 10%;
}

.float-right{
    float: right;
    position: relative;
    right: 7%;
}

.image{
    height:88px;
    float: left;
    position: relative;
    right: 3%;
    bottom: 10px;
}

.job{
    position: relative;
    bottom: 5px;
    right: 15px;
    font-size: 15px;
    text-align: left;
}

.email{
    color: aqua;
    position: relative;
    bottom: 10px;
    right: 15px;
    font-size: 15px;
    text-align: left;
}
